<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magenest_Movie:etc/config.xsd">
    <default>
        <Magenest>
            <movie>
                <general>
                <text_field>I'm a text field</text_field>
                </general>
            </movie>
        </Magenest>
    </default>
</config>
